@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './reset.css';

html {
    font-size: 18px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.active-btn {
    background: linear-gradient(75deg, #FF981E, #FEB62A);
    padding: 16px 42px;
    border-radius: 5px;
    box-shadow: 0px 4px 30px rgba(255, 161, 34, .42);
    cursor: pointer;
    border: none;
    margin-top: 42px;
    color: #fafafa;
    font-size: .9rem;
    font-weight: 500;
    transition: .5s linear;
}

.active-btn > a {
    color: #fafafa;
    font-size: .9rem;
    font-weight: 500;
}

.active-btn:hover {
    box-shadow: 0px 4px 40px rgba(255, 161, 34, .55);
}

.btn {
    background: #1C89D1;
    padding: 12px 42px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fafafa;
    font-size: .9rem;
    font-weight: 500;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
    color: #333;
}